<?xml version="1.0"?>
<camsourceconfig>

	<!-- Global config options -->
	<camdev>
		<!--
			This section gives config options for the
			camera device. It instructs the hardware to
			grab the frames at a certain size and frame
			rate. Note that not all hardware supports
			every frame size, and not all hardware supports
			setting the frame rate (and if it does, not
			all frame rates are supported either).
			Path defaults to /dev/video0, frame size defaults
			to max size as reported by the driver, fps
			defaults to unchanged.
		-->
		<path>/dev/video0</path>
		<width>640</width>
		<height>480</height>
		<fps>15</fps>
	</camdev>

	<!--
		Available modules. A module will only be loaded
		if its "load" attribute is set to "yes", or if
		it's a dependency of another module. In any case,
		any module config given here is used.
	-->
	<module name="wc_serv" load="yes">
		<port>8888</port>

		<!--
			Per-module filter. Works exactly the same as
			the global filters, only that the per-module
			filters are called from within the module's
			worker thread.
		-->
		<filter name="resize">
			<width>320</width>
			<height>240</height>
		</filter>
	</module>
	
	<module name="jpeg_comp" load="yes"/>
	<module name="flip" load="yes"/>
	<module name="resize" load="yes"/>
	
	<!--
		Global filters to use. Any filter given here
		will be applied to every grabbed frame. If
		a given filter module is not loaded, the filter
		will be ignored silently. (TODO: is that a good idea?)
		Filters are always applied in order. You can
		give the same filter multiple times to apply
		it to the image several times.
	-->
	<filter name="flip">
		<horiz/>
		<!-- <vert/> -->
	</filter>
	
</camsourceconfig>

