<?xml version="1.0"?>
<camsourceconfig>

	<!-- Global config options -->
	<camdev>
		<!--
			This section gives config options for the
			camera device. It instructs the hardware to
			grab the frames at a certain size and frame
			rate. Note that not all hardware supports
			every frame size, and not all hardware supports
			setting the frame rate (and if it does, not
			all frame rates are supported either).
			Path defaults to /dev/video0, frame size defaults
			to max size as reported by the driver, fps
			defaults to unchanged.
		-->
		<path>/dev/video0</path>
		<width>640</width>
		<height>480</height>
		<fps>15</fps>
	</camdev>

	<!--
		Available modules. A module will only be loaded
		if its "active" attribute is set to "yes", or if
		it's a dependency of another module. In any case,
		any module config given here is used.
	-->
	<module name="wc_serv" active="yes">
		<port>8888</port>

		<!--
			Per-module filter. Works exactly the same as
			the global filters, only that the per-module
			filters are called from within the module's
			worker thread.
		-->
		<filter name="resize">
			<width>320</width>
			<height>240</height>
		</filter>
	</module>
	
	<!--
		A second incarnation of the "wc_serv" module. It is
		possible to run the same worker module multiple times,
		each incarnation in its own thread. Each instance
		must have a unique name (the "alias" attribute). If
		no alias name is given, the actual module name is
		used as alias name. The actual module will always
		be loaded exactly once, if at least one of the aliased
		modules have "active" set to "yes". A module that is
		not active won't be run. A running worker module
		will receive a context pointer to the correct config
		to use, so it's possible to use the same module with
		different parameters/filters.
	-->
	<module name="wc_serv" alias="noresizewc" active="yes">
		<port>8889</port>
	</module>
	
	<module name="jpeg_comp" active="yes">
		<!-- quality: default compression quality, 1-100 -->
		<quality>40</quality>
	</module>
	
	<module name="flip" active="yes"/>
	<module name="resize" active="yes"/>
	
	<!--
		Global filters to use. Any filter given here
		will be applied to every grabbed frame. If
		a given filter module is not loaded, the filter
		will be ignored silently. (TODO: is that a good idea?)
		Filters are always applied in order. You can
		give the same filter multiple times to apply
		it to the image several times.
	-->
	<filter name="flip">
		<horiz/>
		<!-- <vert/> -->
	</filter>
	
</camsourceconfig>

